body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQkgStS_0ZzhBvvIIirV3MGRsdz_F8RMIJRaA&s');
    margin: 0;
    padding: 0;
    text-align: center;
}

h1, h2 {
    color:yellow;
    text-align: center;
    margin-top: 20px;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 10px;
        border-radius: 4px;
    }


form {
    text-align: center;
    margin-bottom: 20px;
}

input[type="text"], select {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 90%;
    max-width: 600px;
    background-color: #333;
    color: #fff;
}

button {
    padding: 10px 20px;
    background-color: #f5c518;
    border: none;
    border-radius: 4px;
    color: #000;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #e5b517;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #333;
    color: #f5c518;
    padding: 10px;
    margin: 5px 0;
    border-radius: 4px;
}

td a {
    color: #f5c518;
    text-decoration: none;
}

td a:hover {
    text-decoration: underline;
}