<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Search Film Titles</title>
    <link rel="stylesheet" href="/css/style.css">
</head>


<h1>Search Titles</h1>
<form action="/search" method="get">
    <input type="text" name="title" placeholder="Enter title" />
    <button type="submit">Search</button>
</form>
<div>
    <h2> Search Results</h2>
    <table>
        <thead>
        <tr>
            <th>Title</th>
            <th>Region</th>
            <th>Language</th>
            <th>Types</th>
            <th>Read More</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="film : ${results}">
            
            <td th:text="${film.title}">Title</td>
            <td th:text="${film.region}">Region</td>
            <td th:text="${film.language}">Language</td>
            <td th:text="${film.types}">Types</td>
            <td><a th:href="${film.imdbUrl}" target="_blank">IMDb Page</a></td>

        </tr>
        </tbody>
    </table>
    <p th:if="${#lists.isEmpty(results)}">Sorry ,we don't have this film(s) yet in our database.
    We are working hard to make more film option available to you.</p>

</div>
</body>
</html>